<!-- header.component.html -->
<header>
  <div class="logo">
    <a routerLink="/home"><img src="assets/taxi09.png" alt="Taxi Booking App"></a>
  </div>
  <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/book" routerLinkActive="active">Book a Taxi</a>
    <a routerLink="/admin" routerLinkActive="active">Admin</a>
    <a routerLink="/about-us" routerLinkActive="active">About Us</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/signup" routerLinkActive="active">Sign Up</a>
  </nav>
</header>



