<footer>
  <div class="container">
    <h3><b>PRIVACY POLICY</b></h3>
    <p>
      Your privacy is important to us. This Privacy Policy outlines the types of personal information we receive and collect when you use our taxi booking system and how we safeguard your information. By using our service, you consent to the collection and use of your personal information as described in this Privacy Policy.
    </p>
    <h4>INFORMATION WE COLLECT</h4>
    <p>
      When you use our taxi booking system, we may collect the following information:
    </p>
    <ul>
      <li>Your name</li>
      <li>Contact information (email address, phone number)</li>
      <li>Location data</li>
      <li>Payment information</li>
    </ul>
    <h4>HOW WE USE YOUR INFORMATION</h4>
    <p>
      We may use your personal information for the following purposes:
    </p>
    <ul>
      <li>To process and manage your taxi bookings</li>
      <li>To communicate with you regarding your bookings</li>
      <li>To improve our services and personalize your experience</li>
      <li>To send you promotional offers and updates</li>
    </ul>
    <h4>INFORMATION COLLECTED BY CAPTAINS</h4>
    <p>This Privacy Policy shall not cover the usage of any information about you which is obtained by the Captain while providing you a ride on a bike booked using the Services, or otherwise.

      If you are a Captain, we may share your name, vehicle number, driving license number, phone number and/or profile picture (if applicable), tracking details with our customers to provide them the Services.</p>
    <h4>SECURITY</h4>
    <p>
      We take appropriate security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction.
    </p>
    <h4>CHANGES TO THIS PRIVACY POLICY</h4>
    <p>
      We may update this Privacy Policy from time to time. Any changes will be posted on this page, and the updated Privacy Policy will be effective immediately upon posting.
    </p>
  </div>
</footer>
