<footer>
  <div class="container">
    <h3><b>TERMS OF SERVICES</b></h3>
    <p>
      By accessing and using this website, you agree to the following terms and conditions:
    </p>
    <ol>
      <h4>
        1. You must be at least 18 years old to use this service.
      </h4>
      <h4>
        2. The information provided on this website is for general informational purposes only. We make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability with respect to the website or the information contained on the website for any purpose.
      </h4>
      <h4>
        3. Your use of any information or materials on this website is entirely at your own risk. It shall be your own responsibility to ensure that any products, services, or information available through this website meet your specific requirements.
      </h4>
      <h4>
        4. This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance, and graphics. Reproduction is prohibited unless prior written permission has been obtained.
      </h4>
      <h4>
        5.You are not restricted by any legal, regulatory, judicial, quasi-judicial or other authority, to access the Platform or avail the Services, including to enter into transactions contemplated for availing the Services.
      </h4>
      <h4>
        6. When you provide any Information to our taxi, you agree to provide only true, accurate, current and complete Information. You understand and acknowledge that the responsibility to provide correct Information, including the contact information, bank account details, etc., as required in connection with the Services, lies solely with you. You must take all caution to ensure that there are no mistakes and errors in the Information you provide. We will not be responsible to verify the accuracy of the Information provided by you.</h4>
    </ol>
    <p>
      These terms and conditions are subject to change without notice.
    </p>
  </div>
</footer>
