<section class="hero">
  <div class="container">

    <div class="home-container">
      <a>
        <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZmtur2sEgWEbSCKIZ6nKhWO9EAPwJXlUPEuFXEuPu28S-7CzG7HQqF7MzmIvPv9cb80Q&usqp=CAU'  alt="">
      </a>
    </div>
    <div class="discount-message" *ngIf="showDiscountMessage">
      <p>Flash Sale: Get 20% off on your first booking</p>
    </div>
    <h1>Welcome to Taxi Booking App</h1>
    <p>Book a taxi in just a few clicks!</p>


    <h2>Our Impact</h2>

    <p>Our presence in the country has changed the concept of intra-city travel and made last-mile connectivity affordable for all.</p>

    <h2><b>Our Taxi's Business Solutions</b></h2>

    <p>Get onboard with our Taxi's B2B services to earn more while you deliver. With highly reliable deliveries and a strong customer base, we are one of the fastest growing networks in the country.</p>
  </div>
  <div class="scrollable-section">
    <div class="content">
      <h2>24/7 Customer Support</h2>
      <p class="colorful-text">A dedicated 24x7 customer support team always at your service to help solve any problem</p>
      <h2>Your safety first!</h2>
      <p class="colorful-text">Keep your loved ones informed about your travel routes or call emergency services when in need</p>
      <h3><b>COMFORT</b></h3>
      <p class="gradient-text">
        <li>
          Seater Capacity
        </li>
        <li>
          Most Preffered Cab
        </li>
      </p>
    </div>
  </div>
</section>


